@import "../../responsive";
@import "../../App.scss";

.beyond-content-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 120px 0;

    @include mq(tablet){
        flex-direction: column-reverse;
        padding: 60px 0;
    }

    .Do {
        max-width: 530px;

        @include mq(desktop-wide-xs){
            max-width: 430px;
        }

        @include mq(phone-xs){
            max-width: 330px;
        }
    }


    .skills-bullets-points {
        display: flex;
        align-items: start;
        gap: 10px;

        .skills-desc-bullet img {
            width: 24px;
            height: 24px;
            object-fit: contain;
            flex-shrink: 0;

            @include mq(phone-sm){
                width: 20px; 
                height: 20px; 
              }
    
              @include mq(phone-xs){
                width: 15px; 
                height: 15px; 
              }
        }
    }
}